@media screen and (max-width:1456px) {
    .earth {
        position: absolute;
        top: -162px;
    }
}

@media screen and (max-width:1486px) {
    .earth {
        position: absolute;
        top: -78px;
    }
}

@media screen and (max-width:1516px) {
    .earth {
        position: absolute;
        top: -178px;
    }
}

@media screen and (max-width:1450px) {
    .earth {
        position: absolute;
        left: 50px;
    }
}

@media screen and (max-width:1402px) {
    .earth {
        position: absolute;
        left: 122px;
    }
}

@media screen and (max-width:1350px) {
    .home .text .offers2 .cards {
        margin-right: -52px;
    }
}

@media screen and (max-width:1339px) {
    .home .text .offers2 .cards {
        margin-right: -30px;
    }
}

@media screen and (max-width:1307px) {
    .home .text .offers2 .cards {
        margin-right: -40px;
    }
}

@media screen and (max-width:1275px) {
    .home .text .offers2 .cards {
        margin-right: -56px;
    }
}

@media screen and (max-width:1235px) {
    .home .text .offers2 .cards {
        margin-right: -98px;
    }
}

@media screen and (max-width:1221px) {
    .home .text .offers2 h1 {
        margin-right: -45px;
    }
}

@media screen and (max-width:1221px) {
    .home .text .offers2 p {
        margin-right: -50px;
    }
}

@media screen and (max-width:1187px) {
    .home .text .offers2 .card {
        margin-right: -110px;
    }
}

@media screen and (max-width:1161px) {
    .home .text .offers2 .card {
        margin-right: -120px;
    }
}

@media screen and (max-width:1171px) {
    .home .text .offers2 .card {
        margin-right: -22px;
    }
}

@media screen and (max-width:1185px) {
    .home .text .offers2 .card {
        margin-right: -18px;
    }
}

@media screen and (max-width:1137px) {
    .home .text .offers2 .cards {
        margin-right: -2px;
    }
}

@media screen and (max-width:1023px) {
    .home .text .offers2 .cards {
        margin-right: -20px;
    }
}

@media screen and (max-width:983px) {
    .home .text .offers2 .cards {
        margin-right: -50px;
    }
}

@media screen and (max-width:945px) {
    .home .text .offers2 .cards {
        margin-right: -78px;
    }
}

@media screen and (max-width:837px) {
    .home .text .offers2 .cards {
        margin-right: -100px;
    }
}

@media screen and (max-width:869px) {
    .home .text .offers2 .cards {
        margin-right: -90px;
    }
}

@media screen and (max-width:855px) {
    .home .text .offers2 .cards {
        margin-right: -96px;
    }
}

@media screen and (max-width:797px) {
    .home .text .offers2 .cards {
        margin-right: -21px;
    }
}

@media screen and (max-width:889px) {
    .home .text .offers2 .cards {
        margin-right: -15px;
    }
}

@media screen and (max-width:709px) {
    .home .text .offers2 .cards {
        margin-right: -56px;
    }
}

@media screen and (max-width:653px) {
    .home .text .offers2 .cards {
        margin-right: -60px;
    }
}

@media screen and (max-width:637px) {
    .home .text .offers2 .cards {
        margin-right: -64px;
    }
}

@media screen and (max-width:613px) {
    .home .text .offers2 .cards {
        margin-right: -45px;
    }
}

@media screen and (max-width:601px) {
    .home .text .offers2 h1 {
        margin-right: -143px;
        font-size: 2.6rem;
    }
}

@media screen and (max-width:599px) {
    .home .text .offers2 .cards {
        margin-right: -114px;
        font-size: 2.6rem;
    }
}

@media screen and (max-width:597px) {
    .home .text .offers2 .cards {
        margin-right: -78px;
    }
}

@media screen and (max-width:593px) {
    .home .text .offers2 .cards {
        margin-right: -60px;
    }
}

@media screen and (max-width:619px) {
    .home .text .offers2 .cards {
        margin-right: -70px;
    }
}

@media screen and (max-width:609px) {
    .home .text .offers2 .cards {
        margin-right: -48px;
    }
}

@media screen and (max-width:603px) {
    .home .text .offers2 h1 {
        margin-right: -114px;
        font-size: 1.6rem;
    }
}

@media screen and (max-width:593px) {
    .home .text .offers2 h1 {
        margin-right: 125px;
        font-size: 2.6rem;
    }

    .home .text .offers2 p {
        margin-right: 122px;
    }
}

@media screen and (max-width:597px) {
    .home .text .offers2 h1 {
        margin-right: 74px;
        font-size: 1.6rem;
    }

    .home .text .offers2 p {
        margin-right: 64px;
    }
}

@media screen and (max-width:601px) {
    .home .text .offers2 h1 {
        margin-right: 98px;
    }

    .home .text .offers2 p {
        margin-right: 96px;
        margin-top: 24px;
    }
}

@media screen and (max-width:609px) {
    .home .text .offers2 h1 {
        margin-right: 139px;
    }

    .home .text .offers2 p {
        margin-right: 134px;
    }
}

@media screen and (max-width:583px) {
    .home .text .offers2 h1 {
        margin-right: 108px;
        font-size: 2.6rem;
    }

    .home .text .offers2 p {
        margin-right: 104px;
    }
}

@media screen and (max-width:591px) {
    .home .text .offers2 h1 {
        margin-right: 105px;
        font-size: 2.6rem;
    }

    .home .text .offers2 p {
        margin-right: 109px;
    }
}

@media screen and (max-width:497px) {
    .home .text .offers2 h1 {
        margin-right: 45px;
        font-size: 2.6rem;
    }

    .home .text .offers2 p {
        margin-right: 43px;
    }
}

@media screen and (max-width:581px) {
    .home .text .offers2 h1 {
        margin-right: 118px;
    }

    .home .text .offers2 p {
        margin-right: 108px;
    }
}

@media screen and (max-width:557px) {
    .home .text .offers2 h1 {
        margin-right: 93px;
    }

    .home .text .offers2 p {
        margin-right: 86px;
    }
}

@media screen and (max-width:585px) {
    .home .text .offers2 h1 {
        margin-right: 116px;
    }

    .home .text .offers2 p {
        margin-right: 109px;
    }
}

@media screen and (max-width:535px) {
    .home .text .offers2 h1 {
        margin-right: 66px;
    }

    .home .text .offers2 p {
        margin-right: 65px;
    }
}

@media screen and (max-width:477px) {
    .home .text .offers2 h1 {
        margin-right: 34px;
    }

    .home .text .offers2 p {
        margin-right: 26px;
    }
}

@media screen and (max-width:425px) {
    .home .text .offers2 h1 {
        margin-right: 6px;
    }

    .home .text .offers2 p {
        margin-right: -8px;
    }
}

@media screen and (max-width:555px) {
    .home .text .offers2 h1 {
        margin-right: 69px;
    }

    .home .text .offers2 p {
        margin-right: 70px;
    }
}

@media screen and (max-width:593px) {
    .home .text .offers2 h1 {
        margin-right: 105px;
    }

    .home .text .offers2 p {
        margin-right: 97px;
    }
}

@media screen and (max-width:531px) {
    .home .text .offers2 h1 {
        margin-right: 55px;
    }

    .home .text .offers2 p {
        margin-right: 50px;
    }
}

@media screen and (max-width:455px) {
    .home .text .offers2 h1 {
        margin-right: 15px;
    }

    .home .text .offers2 p {
        margin-right: 8px;
    }
}

@media screen and (max-width:411px) {
    .home .text .offers2 h1 {
        margin-right: -22px;
    }

    .home .text .offers2 p {
        margin-right: -26px;
    }
}

@media screen and (max-width:337px) {
    .home .text .offers2 .cards .card {
        width: 11.8rem;
    }
}

@media screen and (max-width:375px) {
    .home .text .offers2 .cards .card {
        width: 11.8rem;
    }
}

@media screen and (max-width:353px) {
    .home .text .offers2 .cards .card {
        width: 10.8rem;
        margin-top: 26px;
    }
}

@media screen and (max-width:339px) {
    .home .text .offers2 .cards .card {
        width: 9.8rem;
    }
}

@media screen and (max-width:297px) {
    .home .text .offers2 .cards .card {
        width: 7.8rem;
    }
}

@media screen and (max-width:353px) {

    .home .text .offers2 .cards .card .cont_bx .price,
    .home .text .offers2 .cards .card .cont_bx .days {
        margin: 0rem -0.4rem;
    }

    .home .text .offers2 .cards .card {
        width: 8.8rem;
    }

    .home .text .offers2 .cards .card .cont_bx .price .info_price a {
        padding-left: 12px;
    }

    .home .text .offers2 .cards .card .cont_bx .price .heart_chat i:nth-child(1) {
        padding-left: 12px;
    }
}

@media screen and (max-width:1447px) {
    .home .text .offers .cards .card {
        margin-right: -34px;
    }
}

@media screen and (max-width:1383px) {
    .home .text .offers .cards .card {
        margin-right: -56px;
    }
}

@media screen and (max-width:1366px) {
    .home .text .offers .cards .card {
        margin-right: -90px;
    }
}

@media screen and (max-width:1322px) {
    .home .text .offers .cards .card {
        margin-right: -109px;
    }
}

@media screen and (max-width:1447px) {
    .home .text .offers .cards .card {
        margin-right: -34px;
    }
}

@media screen and (max-width:1290px) {
    .home .text .offers .cards .card {
        margin-right: -126px;
    }
}

@media screen and (max-width:1393px) {
    .home .text .offers .cards .card {
        margin-right: -84px;
    }
}

@media screen and (max-width:1325px) {
    .home .text .offers .cards .card {
        margin-right: -124px;
    }
}

@media screen and (max-width:1271px) {
    .home .text .offers .cards .card {
        margin-right: -150px;
    }
}

@media screen and (max-width:1227px) {
    .home .text .offers .cards .card {
        margin-right: -160px;
    }
}

@media screen and (max-width:1191px) {
    .home .text .offers .cards .card {
        margin-right: -164px;
    }
}

@media screen and (max-width:1201px) {
    .home .text .offers .cards .card {
        margin-right: -31px;
    }
}

@media screen and (max-width:1175px) {
    .home .text .offers .cards .card {
        margin-right: -38px;
    }
}

@media screen and (max-width:1085px) {
    .home .text .offers .cards .card {
        margin-right: -34px;
    }
}

@media screen and (max-width:1080px) {
    .home .text .offers .cards .card {
        margin-right: -54px;
    }
}

@media screen and (max-width:1px) {
    .home .text .offers .cards .card {
        margin-right: -34px;
    }
}

@media screen and (max-width:1044px) {
    .home .text .offers .cards .card {
        margin-right: -61px;
    }
}

@media screen and (max-width:1016px) {
    .home .text .offers .cards .card {
        margin-right: -67px;
    }
}

@media screen and (max-width:1000px) {
    .home .text .offers .cards .card {
        margin-right: -18px;
    }
}

@media screen and (max-width:780px) {
    .home .text .offers .cards .card {
        margin-right: -36px;
    }
}

@media screen and (max-width:750px) {
    .home .text .offers .cards .card {
        margin-right: -52px;
    }
}

@media screen and (max-width:722px) {
    .home .text .offers .cards .card {
        margin-right: -64px;
    }
}

@media screen and (max-width:706px) {
    .home .text .offers .cards .card {
        margin-right: -78px;
    }
}

@media screen and (max-width:686px) {
    .home .text .offers .cards .card {
        margin-right: -90px;
    }
}

@media screen and (max-width:668px) {
    .home .text .offers .cards .card {
        margin-right: -95px;
    }
}

@media screen and (max-width:658px) {
    .home .text .offers .cards .card {
        margin-right: -99px;
    }
}

@media screen and (max-width:654px) {
    .home .text .offers .cards .card {
        margin-right: -44px;
    }
}

@media screen and (max-width:653px) {
    .home .text .offers h1 {
        margin-right: 119px;
    }

    .home .text .offers p {
        margin-right: 135px;
        margin-top: 12px;
    }
}

@media screen and (max-width:630px) {
    .home .text .offers h1 {
        margin-right: 114px;
    }

    .home .text .offers p {
        margin-right: 123px;
        margin-top: 12px;
    }
}

@media screen and (max-width:592px) {
    .home .text .offers h1 {
        margin-right: 80px;
    }

    .home .text .offers p {
        margin-right: 80px;
        margin-top: 12px;
    }
}

@media screen and (max-width:550px) {
    .home .text .offers h1 {
        margin-right: 52px;
    }

    .home .text .offers p {
        margin-right: 52px;
        margin-top: 12px;
    }
}

@media screen and (max-width:504px) {
    .home .text .offers h1 {
        margin-right: 26px;
    }

    .home .text .offers p {
        margin-right: 24px;
        margin-top: 12px;
    }
}

@media screen and (max-width:474px) {
    .home .text .offers h1 {
        margin-right: 12px;
    }

    .home .text .offers p {
        margin-right: 7px;
        margin-top: 12px;
    }
}

@media screen and (max-width:432px) {
    .home .text .offers h1 {
        margin-right: -25px;
    }

    .home .text .offers p {
        margin-right: -32px;
        margin-top: 12px;
    }
}

@media screen and (max-width:444px) {
    .home .text .offers h1 {
        margin-right: -17px;
    }

    .home .text .offers p {
        margin-right: -16px;
        margin-top: 12px;
    }
}

@media screen and (max-width:444px) {
    .home .text .offers .cards .card .btn_city2 a {
        padding: 0 11px;
    }
}

@media screen and (max-width:316px) {
    .home .text .offers .cards .card .btn_city2 a {
        padding: 0 10px;
    }

    .home .text .offers h1 {
        font-size: 1.5rem;
    }

    .home .text .offers p {
        font-size: 24px;
    }
}

@media screen and (max-width:308px) {
    .home .text .offers .cards .card {
        margin-left: -15px;
    }
}

@media screen and (max-width:288px) {
    .home .text .offers .cards .card {
        margin-left: -26px;
    }
}

@media screen and (max-width:289px) {
    .home .text .offers .cards .card {
        margin-left: -22px;
    }
}

@media screen and (max-width:275px) {
    .home .text .offers .cards .card {
        margin-left: -32px;
    }
}

@media screen and (max-width:279px) {
    .home .text .offers .cards .card {
        margin-left: -30px;
    }
}

@media screen and (max-width:270px) {
    .home .text .offers .cards .card {
        margin-left: -36px;
    }
}

@media screen and (max-width:264px) {
    .home .text .offers .cards .card {
        margin-left: -40px;
    }
}

@media screen and (max-width:260px) {
    .home .text .offers .cards .card {
        margin-left: -42px;
    }
}

@media screen and (max-width:254px) {
    .home .text .offers .cards .card {
        margin-left: -45px;
    }
}

@media screen and (max-width:1350px) {
    .home .text header {
        width: 88%;
    }
}

@media screen and (max-width:1350px) {
    .home .text header {
        width: 94%;
    }
}

@media screen and (max-width:1052px) {
    .home .text header {
        width: 99%;
    }
}

@media screen and (max-width:1009px) {
    .home .text header {
        width: 100%;
    }
}

@media screen and (max-width:975px) {
    .home .text header {
        width: 103%;
    }
}

@media screen and (max-width:962px) {
    .home .text header .content .trip_bx .travel_bx .cards .card {
        min-width: 222px;
        overflow: auto;
    }

    .home .text header .content .trip_bx .search_bx {
        width: 62%;
    }
}

@media screen and (max-width:952px) {
    .home .text header {
        width: 104%;
    }
}

@media screen and (max-width:920px) {
    .home .text header .content .trip_bx .search_bx {
        width: 66%;
    }
}

@media screen and (max-width:875px) {
    .home .text header .content .trip_bx .search_bx {
        width: 71%;
    }
}

@media screen and (max-width:827px) {
    .home .text header .content .trip_bx .search_bx {
        width: 74%;
    }
}

@media screen and (max-width:798px) {
    .home .text header .content .trip_bx .search_bx {
        width: 76%;
    }
}

@media screen and (max-width:780px) {
    .home .text header .content .trip_bx .search_bx {
        width: 80%;
    }
}

@media screen and (max-width:752px) {
    .home .text header .content .trip_bx .search_bx {
        width: 84%;
    }
}

@media screen and (max-width:730px) {
    .home .text header .content .trip_bx .search_bx {
        width: 86%;
    }
}

@media screen and (max-width:710px) {
    .home .text header .content .trip_bx .search_bx {
        width: 89%;
    }
}

@media screen and (max-width:693px) {
    .home .text header .content .trip_bx .search_bx {
        width: 92%;
    }
}

@media screen and (max-width:676px) {
    .home .text header .content .trip_bx .search_bx {
        width: 94%;
    }
}

@media screen and (max-width:666px) {
    .home .text header .content .trip_bx .search_bx {
        width: 96%;
    }
}

@media screen and (max-width:956px) {
    .home .text header .content .trip_bx .search_bx {
        width: 99%;
    }
}

@media screen and (max-width:641px) {
    .home .text header .content .trip_bx .search_bx {
        width: 100%;
    }
}

@media screen and (max-width:1038px) {
    .earth {
        position: absolute;
        top: 98px;
        left: -650%;
    }

    .home .text header nav ul li a {
        font-size: 19px;
    }

    .home .text header nav ul {
        list-style: none;
        display: flex;
        width: 100px;
        height: auto;
        flex-direction: column;
        font-size: -14px;
        z-index: 999999999;
        position: absolute;
        left: 697px;
        top: 1px;
    }
}

@media screen and (max-width:1000px) {
    .home .text header nav ul {
        position: absolute;
        left: 642px;
    }

    .earth {
        position: absolute;
        left: -583%;
    }
}

@media screen and (max-width:842px) {
    .home .text header nav ul {
        left: 556px;
    }

    .earth {
        left: -496%;
    }
}

@media screen and (max-width:758px) {
    .home .text header nav ul {
        left: 521px;
    }

    .earth {
        left: -456%;
    }
}

@media screen and (max-width:718px) {
    .home .text header nav ul {
        left: 478px;
    }

    .earth {
        left: -420%;
    }
}

@media screen and (max-width:672px) {
    .home .text header nav ul {
        left: 427px;
    }

    .earth {
        left: -382%;
    }
}

@media screen and (max-width:619px) {
    .home .text header nav ul {
        left: 368px;
    }

    .earth {
        left: -318%;
    }
}

@media screen and (max-width:564px) {
    .home .text header nav ul {
        left: 328px;
    }

    .earth {
        left: -272%;
    }
}

@media screen and (max-width:523px) {
    .home .text header nav ul {
        left: 274px;
    }

    .earth {
        left: -227%;
    }
}

@media screen and (max-width:470px) {
    .home .text header nav ul {
        left: 231px;
    }

    .earth {
        left: -194%;
    }
}

@media screen and (max-width:424px) {
    .home .text header nav ul {
        left: 190px;
    }

    .earth {
        left: -158%;
    }
}

@media screen and (max-width:392px) {
    .home .text header nav ul {
        left: 172px;
    }

    .earth {
        left: -158%;
    }
}

@media screen and (max-width:362px) {
    .home .text header nav ul {
        left: 155px;
    }

    .earth {
        left: -141%;
    }
}

@media screen and (max-width:350px) {
    .home .text header nav ul {
        left: 144px;
    }

    .earth {
        left: -583%;
    }
}

@media screen and (max-width:1505px) {
    .earth {
        position: absolute;
        top: -184px;
    }
}

@media screen and (max-width:336px) {
    .home .text header nav ul {
        left: 140px;
    }

    .earth {
        left: -137%;
    }
}

@media screen and (max-width:1036px) {
    .earth {
        top: 98px;
    }
}

@media screen and (max-width:349px) {
    .earth {
        left: -137%;
    }
}

@media screen and (max-width: 1037px) {
    .earth {
        position: absolute;
        top: 90px;
    }
}

@media screen and (max-width:637px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 120px;
    }
}

@media screen and (max-width:636px) {
    .home .text header .content .trip_bx .search_bx input[type="button"] {
        margin-right: 10px;
        bottom: -54px;
    }

    .home .text header .content .trip_bx .search_bx .card {
        width: 116px;
    }
}

@media screen and (max-width:636px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 106px;
    }
}

@media screen and (max-width:610px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 100px;
    }
}

@media screen and (max-width:593px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 98px;
    }
}

@media screen and (max-width:588px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 98px;
        padding-left: 12px;
    }
}

@media screen and (max-width:588px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 98px;
        padding-left: 24px;
    }

    .home .text header .content .trip_bx .search_bx input[type="button"] {
        margin-right: 32px;
    }
}

@media screen and (max-width:561px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 98px;
        padding-left: 38px;
    }
}

@media screen and (max-width:532px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 98px;
        padding-left: 45px;
    }
}

@media screen and (max-width:516px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 98px;
        padding-left: 81px;
    }

    .home .text header .content .trip_bx .search_bx input[type="button"] {
        margin-right: 80px;
    }
}

@media screen and (max-width:494px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 93px;
        padding-left: 81px;
    }
}

@media screen and (max-width:490px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 88px;
        padding-left: 76px;
    }
}

@media screen and (max-width:477px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 87px;
        padding-left: 75px;
    }
}

@media screen and (max-width:597px) {
    .home .text header .content .cont_bx {
        width: 28.2rem;
    }
}

@media screen and (max-width:540px) {
    .home .text header .content .cont_bx {
        width: 25.2rem;
    }
}

@media screen and (max-width:517px) {
    .home .text header .content .cont_bx {
        width: 23.2rem;
    }
}

@media screen and (max-width:485px) {
    .home .text header .content .cont_bx {
        width: 21.2rem;
    }
}

@media screen and (max-width:454px) {
    .home .text header .content .cont_bx {
        width: 19.2rem;
    }
}

@media screen and (max-width:434px) {
    .home .text header .content .cont_bx {
        width: 18.2rem;
    }
}

@media screen and (max-width:1304px) {
    .home .text .destination {
        width: 572px;
    }
}

@media screen and (max-width:742px) {
    .home .text .destination {
        width: 542px;
    }
}

@media screen and (max-width:740px) {
    .home .text .destination {
        display: flex;
        flex-direction: column-reverse;
    }

    .home .text .destination .des_bx {
        margin-top: 10px;
    }
}

@media screen and (max-width:655px) {
    .home .text .destination {
        margin-left: -24px;
    }
}

@media screen and (max-width:612px) {
    .home .text .destination {
        margin-left: -43px;
    }
}

@media screen and (max-width:590px) {
    .home .text .destination {
        margin-left: -54px;
    }
}

@media screen and (max-width:570px) {
    .home .text .destination {
        margin-left: -66px;
    }
}

@media screen and (max-width:550px) {
    .home .text .destination {
        margin-left: -80px;
    }
}

@media screen and (max-width:525px) {
    .home .text .destination {
        margin-left: -94px;
    }
}

@media screen and (max-width:508px) {
    .home .text .destination {
        margin-left: -106px;
    }
}

@media screen and (max-width:495px) {
    .home .text .destination {
        margin-left: -118px;
    }
}

@media screen and (max-width:482px) {
    .home .text .destination {
        margin-left: -126px;
    }
}

@media screen and (max-width:486px) {
    .home .text header .content .cont_bx button {
        margin-top: -1.5rem;
    }

    .home .text header .content .trip_bx .search_bx .card h4 {
        font-size: 12px;
    }

    .home .text header .content .trip_bx .search_bx .card input {
        font-size: 12px;
    }

    .home .text header .content .trip_bx .search_bx .card {
        width: 83px;
    }
}

@media screen and (max-width:456px) {
    .home .text header .content .trip_bx .search_bx .card h4 {
        font-size: 11px;
    }

    .home .text header .content .trip_bx .search_bx .card input {
        font-size: 11px;
    }

    .home .text header .content .trip_bx .search_bx .card {
        width: 81px;
    }

    .home .text header .content .trip_bx .search_bx input[type="button"] {
        margin-right: 80px;
        font-size: 12px;
    }
}

@media screen and (max-width:645px) {
    footer .accept ul li img {
        width: 46px;
    }
}

@media screen and (max-width:623px) {
    footer .accept ul li img {
        width: 37px;
        margin-left: -4px;
    }

    footer .accept .W {
        margin-left: 5.3rem;
    }
}

@media screen and (max-width:623px) {
    footer ul li {
        margin-right: 28px;
    }
}

@media screen and (max-width:594px) {
    footer ul li {
        margin-right: 23px;
    }
}

@media screen and (max-width:563px) {
    footer ul li {
        margin-right: 19px;
    }

    footer .input input {
        width: 16.7rem;
    }

    footer .accept .W {
        margin-left: 4.3rem;
    }
}

@media screen and (max-width:563px) {
    footer ul li {
        margin-right: 15px;
    }

    footer .input input {
        width: 14.7rem;
    }
}

@media screen and (max-width:514px) {
    footer ul li {
        margin-right: 11px;
    }

    footer .input input {
        width: 13.7rem;
    }

    footer .accept .W {
        margin-left: 2.3rem;
    }
}

@media screen and (max-width:514px) {
    footer .input input {
        width: 12.7rem;
    }

    footer ul li {
        margin-right: 8px;
    }
}

@media screen and (max-width:470px) {
    footer .input input {
        width: 11.7rem;
    }

    footer ul li {
        margin-right: 5px;
    }
}

@media screen and (max-width:453px) {
    footer .accept ul li img {
        width: 34px;
        margin-left: -4px;
    }

    footer .accept .W {
        margin-left: 1.3rem;
    }

    footer .input input {
        width: 10.7rem;
    }

    footer ul li h6 {
        font-size: 12px;
    }

    footer ul li img {
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width:432px) {
    footer .input input {
        width: 8.7rem;
    }
}

@media screen and (max-width:432px) {
    footer ul li {
        margin-right: 4px;
    }
}

@media screen and (max-width:448px) {
    .home .text header .content .trip_bx .search_bx input[type="button"] {
        margin-right: 84px;
        font-size: 12px;
        padding: 8px 12px;
    }

    .home .text header .content .trip_bx .search_bx .card input {
        font-size: 10px;
    }
}

@media screen and (max-width:448px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 77px;
    }
}

@media screen and (max-width:434px) {
    .home .text header .content .cont_bx {
        width: 18.2rem;
    }

    .home .text header .content .cont_bx button {
        margin-top: -104px;
        position: absolute;
        padding: 7px 8px;
    }
}

@media screen and (max-width:434px) {
    .home .text header .content .cont_bx button {
        margin-top: -129px;
        position: absolute;
        padding: 7px 8px;
        margin-left: 122px;
        font-size: 12px;
    }

    .home .text header .content .trip_bx .search_bx input[type="button"] {
        margin-right: 92px;
        font-size: 12px;
        padding: 8px 12px;
        bottom: -90px;
    }
}

@media screen and (max-width:434px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 76px;
    }
}

@media screen and (max-width:434px) {
    .home .text header .content .trip_bx .search_bx .card {
        width: 74px;
    }
}

@media screen and (max-width:434px) {
    .home .text header .content .trip_bx .search_bx {
        width: 102%;
    }
}

@media screen and (max-width:415px) {
    .home .text header .content .trip_bx .search_bx {
        width: 105%;
    }

    .home .text header .content .cont_bx h1 {
        line-height: 1.5rem;
        font-weight: 800;
        font-size: 1.5rem;
        margin: 0;
    }

    .home .text header .content .cont_bx button {
        margin-top: 6px;
        position: absolute;
        padding: 7px 8px;
        margin-left: -9px;
        font-size: 14px;
    }
}

@media screen and (max-width:409px) {
    .home .text header .content .trip_bx .search_bx {
        width: 109%;
    }
}

@media screen and (max-width:402px) {
    .home .text header .content .trip_bx .search_bx {
        width: 111%;
    }
}

@media screen and (max-width:393px) {
    .home .text header .content .trip_bx .search_bx {
        width: 122%;
        margin-left: -21px;
    }

    .home .text header .content .trip_bx .search_bx input[type="button"] {
        margin-right: 106px;
    }

    .home .text header .content .trip_bx .search_bx .card input {
        font-size: 11px;
    }
}

@media screen and (max-width:393px) {
    .home .text header .content .trip_bx .search_bx {
        width: 125%;
        margin-left: -21px;
    }
}

@media screen and (max-width:407px) {
    .home .text header .content .cont_bx p {
        font-size: 15px;
        margin-left: -16px;
    }

    .home .text header .content .cont_bx h1 {
        font-size: 18px;
        margin-left: -16px;
    }
}

@media screen and (max-width:401px) {
    .home .text header .content .cont_bx p {
        font-size: 15px;
        margin-left: -19px;
    }

    .home .text header .content .cont_bx h1 {
        font-size: 18px;
        margin-left: -21px;
    }
}

@media screen and (max-width:396px) {
    .home .text header .content .trip_bx .search_bx .card input {
        font-size: 11px;
        margin-left: -3px;
    }

    .home .text header .content .trip_bx .search_bx .card h4 {
        font-size: 11px;
        margin-left: 0;
    }

    .home .text header .content .trip_bx .search_bx {
        width: 123%;
        margin-left: -18px;
    }

    .home .text header .content .trip_bx .search_bx .card {
        width: 78px;
    }
}

@media screen and (max-width:395px) {
    .home .text header .content .cont_bx h1 {
        font-size: 14px;
        margin-left: -25px;
    }
}

@media screen and (max-width:393px) {
    .home .text header .content .trip_bx .search_bx .card input {
        font-size: 11px;
        margin-left: 3px;
    }

    .home .text header .content .trip_bx .search_bx .card h4 {
        font-size: 11px;
        margin-left: 3px;
    }
}

@media screen and (max-width:384px) {
    .home .text header .content .trip_bx .search_bx {
        width: 131%;
        margin-left: -31px;
    }

    .home .text header .content .trip_bx .search_bx .card {
        width: 78px;
    }

    .home .text header .content .trip_bx .search_bx .card h4 {
        font-size: 11px;
        margin-left: 7px;
    }

    .home .text header .content .trip_bx .search_bx .card input {
        font-size: 11px;
        margin-left: 8px;
    }
}

@media screen and (max-width:382px) {
    .home .text header .content .trip_bx .search_bx {
        width: 133%;
        margin-left: -35px;
    }
}

@media screen and (max-width:379px) {
    .home .text header .content .trip_bx .search_bx {
        width: 135%;
        margin-left: -35px;
    }
}

@media screen and (max-width:374px) {
    .home .text header .content .trip_bx .search_bx {
        width: 137%;
        margin-left: -35px;
    }

    .home .text header .content .cont_bx h1 {
        font-size: 13px;
        margin-left: -25px;
    }

    .home .text header .content .cont_bx p {
        font-size: 11px;
        margin-left: -19px;
    }

    .home .text header .content .cont_bx button {
        margin-top: 6px;
        position: absolute;
        padding: 7px 8px;
        margin-left: -19px;
        font-size: 12px;
    }
}

@media screen and (max-width:365px) {
    .home .text header .content .trip_bx .search_bx {
        width: 139%;
        margin-left: -35px;
    }
}

@media screen and (max-width:358px) {
    .home .text header .content .trip_bx .search_bx {
        width: 140%;
        margin-left: -35px;
    }

    .home .text header .content .trip_bx .search_bx .card {
        width: 78px;
    }

    .home .text header .content .trip_bx .search_bx .card h4 {
        font-size: 11px;
        margin-left: 7px;
    }

    .home .text header .content .trip_bx .search_bx .card input {
        font-size: 11px;
        margin-left: 8px;
    }
}

@media screen and (max-width:355px) {
    .home .text header .content .trip_bx .search_bx {
        width: 143%;
        margin-left: -35px;
    }

    .home .text header .content .trip_bx .search_bx .card h4 {
        font-size: 11px;
        margin-left: 6px;
    }

    .home .text header .content .trip_bx .search_bx .card input {
        font-size: 11px;
        margin-left: 8px;
    }
}

@media screen and (max-width:365px) {
    .home .text header .content .cont_bx h1 {
        font-size: 12px;
        margin-left: -25px;
    }

    .home .text header .content .cont_bx p {
        font-size: 10px;
        margin-left: -19px;
    }
}

@media screen and (max-width:353px) {
    .home .text header .content .trip_bx .search_bx {
        width: 145%;
        margin-left: -35px;
    }
}

@media screen and (max-width:352px) {
    .home .text header .content .trip_bx .travel_bx h4 {
        font-size: 22px;
    }
}

@media screen and (max-width:348px) {
    .home .text header .content .trip_bx .search_bx .card input {
        font-size: 10px;
        margin-left: 12px;
    }

    .home .text header .content .trip_bx .search_bx .card h4 {
        font-size: 11px;
        margin-left: 11px;
    }
}

@media screen and (max-width:344px) {
    .home .text header .content .trip_bx .search_bx .card input {
        font-size: 10px;
        margin-left: 15px;
    }

    .home .text header .content .trip_bx .search_bx .card h4 {
        font-size: 11px;
        margin-left: 13px;
    }
}

@media screen and (max-width:338px) {
    .home .text header .content .trip_bx .search_bx .card h4 {
        font-size: 11px;
        margin-left: 18px;
    }

    .home .text header .content .trip_bx .search_bx .card input {
        font-size: 10px;
        margin-left: 19px;
    }
}

@media screen and (max-width:337px) {
    .home .text header .content .trip_bx .travel_bx h4 {
        font-size: 21px;
    }
}

@media screen and (max-width:351px) {
    .home .text header .content .cont_bx p {
        font-size: 9px;
        margin-left: -19px;
    }

    .home .text header .content .cont_bx h1 {
        font-size: 11px;
        margin-left: -25px;
    }
}

@media screen and (max-width:340px) {
    .home .text header .content .trip_bx .search_bx {
        width: 148%;
        margin-left: -35px;
    }
}

@media screen and (max-width:338px) {
    .home .text header .content .cont_bx h1 {
        font-size: 10px;
        margin-left: -25px;
    }

    .home .text header .content .cont_bx p {
        font-size: 9px;
        margin-left: -19px;
    }

    .home .text header .content .trip_bx .search_bx {
        width: 150%;
        margin-left: -35px;
    }
}

@media screen and (max-width:394px) {
    .home .text header .content .trip_bx .travel_bx::before {
        width: 118%;
    }
}

@media screen and (max-width:429px) {
    .home .text header .content .trip_bx .travel_bx::before {
        width: 118%;
    }
}

@media screen and (max-width:401px) {
    footer ul li img {
        height: 26px;
        width: 26px;
    }

    footer ul li {
        margin-right: 4px;
    }

    footer .accept ul li img {
        width: 29px;
        margin-left: 2px;
    }

    footer p {
        width: 8rem;
    }

    footer .input input {
        width: 13.7rem;
    }

    footer .input button {
        margin-left: 72px;
    }
}

@media screen and (max-width:400px) {
    footer ul li {
        margin-right: 1px;
    }
}

@media screen and (max-width:397px) {
    footer .input input {
        width: 12.7rem;
        margin-left: 12px;
    }

    footer ul li img {
        height: 24px;
        width: 24px;
    }

    footer ul li h6 {
        font-size: 11px;
    }
}

@media screen and (max-width:391px) {
    footer .accept .W {
        margin-left: 0.3rem;
    }

    footer .accept ul li img {
        width: 23px;
        margin-left: 9px;
    }

    footer .input input {
        width: 10.7rem;
        margin-left: 25px;
    }
}

@media screen and (max-width:372px) {
    footer .input button {
        margin-left: 55px;
    }

    footer .input input {
        width: 10.7rem;
        margin-left: 12px;
    }

    footer .accept ul li img {
        width: 20px;
        margin-left: 10px;
    }

    footer ul li img {
        height: 20px;
        width: 20px;
    }

    footer ul li h6 {
        font-size: 10px;
    }
}

@media screen and (max-width:367px) {
    footer .accept .W {
        margin-left: 2.3rem;
    }
}

@media screen and (max-width:356px) {
    footer .accept ul li img {
        width: 20px;
        margin-left: 7px;
        height: 23px;
    }

    footer .input input {
        width: 9.7rem;
        margin-left: 11px;
    }
}

@media screen and (max-width:349px) {
    footer ul {
        list-style: none;
        display: flex;
        margin-top: 6px;
        flex-direction: column;
    }

    footer .accept ul li img {
        width: 36px;
        margin-left: -14px;
        height: 22px;
    }
}

@media screen and (max-width:342px) {
    footer .input button {
        margin-left: 43px;
    }

    footer .input input {
        width: 8.7rem;
        margin-left: 11px;
    }
}

@media screen and (max-width:328px) {
    footer .accept .W {
        margin-left: 1.3rem;
    }

    footer .input input {
        width: 8.7rem;
        margin-left: 6px;
    }

    footer ul li img {
        height: 16px;
        width: 16px;
        margin-top: 2px;
    }
}

@media screen and (max-width:316px) {
    footer .input input {
        width: 7.7rem;
        margin-left: 8px;
    }

    footer .input button {
        margin-left: 27px;
    }
}

@media screen and (max-width:303px) {
    footer .input input {
        width: 7.7rem;
        margin-left: 1px;
    }
}

@media screen and (max-width:472px) {
    .home .text .destination {
        margin-left: -131px;
    }

    .home .text .destination .img_bx img {
        width: 98%;
        height: 23rem;
        border-radius: 0.3rem;
    }
}

@media screen and (max-width:462px) {
    .home .text .destination .img_bx .msg:nth-child(2) {
        top: 10%;
        left: 46%;
    }
}

@media screen and (max-width:448px) {
    .home .text .destination .img_bx .msg:nth-child(2) {
        top: 10%;
        left: 41%;
    }
}

@media screen and (max-width:428px) {
    .home .text .destination .img_bx .msg:nth-child(2) {
        top: 10%;
        left: 35%;
    }
}

@media screen and (max-width:412px) {
    .home .text .destination .img_bx .msg:nth-child(2) {
        top: 10%;
        left: 32%;
    }
}

@media screen and (max-width:406px) {
    .home .text .destination .img_bx .msg:nth-child(2) {
        top: 3%;
        left: 25%;
    }

    .home .text .destination .img_bx img {
        width: 89%;
    }
}

@media screen and (max-width:387px) {
    .home .text .destination .img_bx .msg:nth-child(2) {
        top: 3%;
        left: 18%;
    }

    .home .text .destination .img_bx img {
        width: 82%;
    }
}

@media screen and (max-width:369px) {
    .home .text .destination .img_bx img {
        width: 76%;
    }

    .home .text .destination .img_bx .msg:nth-child(2) {
        top: 3%;
        left: 11%;
    }

    .home .text .destination h6 {
        width: 10.6rem;
    }
}

@media screen and (max-width:348px) {
    .home .text .destination .img_bx img {
        width: 69%;
    }

    .home .text .destination .img_bx .msg:nth-child(2) {
        top: 3%;
        left: 5%;
    }
}

@media screen and (max-width:337px) {
    .home .text .destination .img_bx img {
        width: 64%;
    }

    .home .text .destination .img_bx .msg:nth-child(2) {
        top: 3%;
        left: -8%;
    }
}

@media screen and (max-width:321px) {
    .home .text .destination .img_bx img {
        width: 60%;
        margin-left: -11px;
    }

    .home .text .destination .des_bx {
        margin-top: 10px;
        margin-left: -27px;
    }
}

@media screen and (max-width:303px) {
    .home .text .destination .img_bx img {
        width: 60%;
        margin-left: -16px;
    }

    .home .text .destination .des_bx {
        margin-top: 10px;
        margin-left: -39px;
    }
}

@media screen and (max-width:640px) {
    .home .text .offers {
        margin-left: 109px;
    }
}

@media screen and (max-width:585px) {
    .home .text .offers {
        margin-left: 88px;
    }
}

@media screen and (max-width:543px) {
    .home .text .offers {
        margin-left: 72px;
    }
}

@media screen and (max-width:504px) {
    .home .text .offers {
        margin-left: 51px;
    }
}

@media screen and (max-width:464px) {
    .home .text .offers {
        margin-left: 36px;
    }
}

@media screen and (max-width:444px) {
    .home .text .offers {
        margin-left: 24px;
    }
}

@media screen and (max-width:390px) {
    .home .text .offers {
        margin-left: 16px;
    }
}

@media screen and (max-width:335px) {
    .home .text .offers {
        margin-left: 8px;
    }
}

@media screen and (max-width:330px) {
    .home .text .offers {
        margin-left: 5px;
    }
}

@media screen and (max-width:666px) {
    .home .text .offers2 {
        margin-left: 30px;
    }
}

@media screen and (max-width:612px) {
    .home .text .offers2 {
        margin-left: 14px;
    }
}

@media screen and (max-width:609px) {
    .home .text .offers2 {
        margin-left: 119px;
    }
}

@media screen and (max-width:570px) {
    .home .text .offers2 {
        margin-left: 100px;
    }
}

@media screen and (max-width:540px) {
    .home .text .offers2 {
        margin-left: 82px;
    }
}

@media screen and (max-width:530px) {
    .home .text .offers2 {
        margin-left: 66px;
    }
}

@media screen and (max-width:496px) {
    .home .text .offers2 {
        margin-left: 52px;
    }
}

@media screen and (max-width:460px) {
    .home .text .offers2 {
        margin-left: 40px;
    }
}

@media screen and (max-width:446px) {
    .home .text .offers2 {
        margin-left: 34px;
    }
}

@media screen and (max-width:412px) {
    .home .text .offers2 {
        margin-left: 18px;
    }
}

@media screen and (max-width:362px) {
    .home .text .offers2 {
        margin-left: -3px;
    }
}

@media screen and (max-width:355px) {
    .home .text .offers2 {
        margin-left: -4px;
    }
}

@media screen and (max-width:328px) {
    .home .text .offers2 {
        margin-left: 7px;
    }
}

@media screen and (max-width:424px) {
    .home .text .offers2 h1 {
        margin-right: -4px;
    }

    .home .text .offers2 p {
        margin-right: -2px;
    }

    .home .text .offers2 {
        margin-left: 24px;
    }
}

@media screen and (max-width:400px) {
    .home .text .offers2 h1 {
        margin-right: -28px;
    }

    .home .text .offers2 p {
        margin-right: -29px;
    }

    .home .text .offers2 {
        margin-left: 12px;
    }
}

@media screen and (max-width:377px) {
    .home .text .offers2 h1 {
        margin-right: -46px;
    }

    .home .text .offers2 p {
        margin-right: -50px;
    }

    .home .text .offers2 {
        margin-left: 1px;
    }
}

@media screen and (max-width:370px) {
    .home .text .offers2 h1 {
        margin-right: -40px;
    }

    .home .text .offers2 p {
        margin-right: -45px;
    }

    .home .text .offers2 {
        margin-left: 5px;
    }
}

@media screen and (max-width:353px) {
    .home .text .offers2 h1 {
        margin-right: 8px;
    }

    .home .text .offers2 p {
        margin-right: 4px;
    }

    .home .text .offers2 {
        margin-left: 25px;
    }
}

@media screen and (max-width:340px) {
    .home .text .offers2 h1 {
        margin-right: -8px;
    }

    .home .text .offers2 p {
        margin-right: -16px;
    }

    .home .text .offers2 {
        margin-left: 14px;
    }
}

@media screen and (max-width:318px) {
    .home .text .offers2 {
        margin-left: 6px;
    }
}

@media screen and (max-width:312px) {
    .home .text .offers2 {
        margin-left: 4px;
    }
}

@media screen and (max-width:310px) {
    .home .text .offers2 {
        margin-left: 2px;
    }
}

@media screen and (max-width:308px) {
    .home .text .offers2 {
        margin-left: 1px;
    }
}

@media screen and (max-width:302px) {
    .home .text .offers2 {
        margin-left: 1px;
    }
}

@media screen and (max-width:300px) {
    .home .text .offers2 {
        margin-left: 1px;
    }
}

@media screen and (max-width:972px) {
    .home .text .map {
        width: 95%;
    }
}

@media screen and (max-width:802px) {
    .home .text .map {
        width: 102%;
    }
}

@media screen and (max-width:662px) {
    .home .text .map {
        width: 109%;
        margin-left: -19px;
    }
}

@media screen and (max-width:600px) {
    .home .text .map {
        width: 115%;
        margin-left: -27px;
    }
}

@media screen and (max-width:582px) {
    .home .text .map {
        width: 120%;
        margin-left: -39px;
    }
}

@media screen and (max-width:546px) {
    .home .text .map {
        width: 124%;
        margin-left: -42px;
    }
}

@media screen and (max-width:490px) {
    .home .text .map {
        width: 128%;
        margin-left: -43px;
    }
}

@media screen and (max-width:460px) {
    .home .text .map {
        width: 131%;
        margin-left: -43px;
    }
}

@media screen and (max-width:432px) {
    .home .text .map {
        width: 135%;
        margin-left: -44px;
    }
}

@media screen and (max-width:418px) {
    .home .text .map {
        width: 138%;
        margin-left: -44px;
    }
}

@media screen and (max-width:396px) {
    .home .text .map {
        width: 140%;
        margin-left: -44px;
    }
}

@media screen and (max-width:380px) {
    .home .text .map {
        width: 144%;
        margin-left: -44px;
    }
}

@media screen and (max-width:365px) {
    .home .text .map {
        width: 147%;
        margin-left: -44px;
    }
}

@media screen and (max-width:354px) {
    .home .text .map {
        width: 150%;
        margin-left: -44px;
    }
}

@media screen and (max-width:342px) {
    .home .text .map {
        width: 153%;
        margin-left: -44px;
    }
}

@media screen and (max-width:331px) {
    .home .text .map {
        width: 157%;
        margin-left: -44px;
    }
}

@media screen and (max-width:322px) {
    .home .text .map {
        width: 161%;
        margin-left: -44px;
    }
}

@media screen and (max-width:316px) {
    .home .text .map {
        width: 163%;
    }
}

@media screen and (max-width:309px) {
    .home .text .map {
        width: 167%;
    }
}

@media screen and (max-width:300px) {
    .home .text .map {
        width: 172%;
    }
}

@media screen and (max-width:526px) {
    footer .G {
        color: white;
        font-size: 26px;
    }

    footer p {
        width: 25rem;
    }
}

@media screen and (max-width:520px) {
    footer .G {
        color: white;
        font-size: 22px;
    }
}

@media screen and (max-width:516px) {
    footer .G {
        color: white;
        font-size: 20px;
    }
}

@media screen and (max-width:510px) {
    footer .G {
        font-size: 16px;
    }
}

@media screen and (max-width:431px) {
    footer .G {
        color: white;
        font-size: 18px;
    }

    footer .G img {
        height: 29px;
        width: 56px;
    }
}
@media screen and (max-width:406px){
    footer .G {
        color: white;
        font-size: 17px;
        margin-left: 22px;
    }
} 
@media screen and (max-width:406px){
    footer .G {
        color: white;
        font-size: 14px;
    }
}

@media screen and (max-width:343px){
    footer .G {
        color: white;
        font-size: 12px;
    }
}
@media screen and (max-width:326px){
    footer .G {
        color: white;
        font-size: 10px;
    }
}
@media screen and (max-width:309px){
    footer .G{
        font-size: 8px;
    }
}