@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Lobster&family=Patua+One&family=Playfair+Display:wght@400;600&family=Poppins&family=Roboto:wght@500&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Lobster&family=Patua+One&family=Playfair+Display:wght@400;600&family=Poppins&family=Roboto+Condensed&family=Roboto:wght@500&family=Staatliches&display=swap');

* {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #FFF;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #18191A;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

body {
    height: 100%;
    background-color: var(--body-color);
    transition: var(--tran-04);
    font-family: 'Courier New', Courier, monospace;
}

.sidebar .image-text img {
    width:4.3rem;
    border-radius:0.5rem;
    opacity: 1;
}
.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width:15.6rem;
    padding:0.7rem 1rem;
    /*background-color: var(--sidebar-color);*/
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    background-image: url("https://i.pinimg.com/originals/74/28/aa/7428aac4d60cebbedf63147b2ae4deb4.gif");
    height: 100vh;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
    transition:var(--tran-04);
}
body.dark .sidebar::before{
    background-image: url('https://i.pinimg.com/originals/fa/08/fe/fa08fe27fe040b3603ecd3ab0ac7f092.gif');
    transition: var(--tran-04);
}
.sidebar.close {
    width:6rem;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar .text {
    font-size: 1.3rem;
    font-weight: 500;
    /*color: var(--text-color);*/
    /*color:rgb(56, 55, 55);*/
    color: black;
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width:5.7rem;
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
    text-shadow: 2px 3px 2px darkgrey;
    transition: var(--tran-02);
}

.header-text .name {
    font-size:1.7rem;
    font-weight: bold;
}

.header-text .profession {
    font-size:1.7rem;
    font-weight: bold;
    margin-top:-0.1rem;
}
.sidebar header .toggle {
    cursor: pointer;
    position:absolute;
    top:1rem;
    right: -1.7rem;
    font-size: 1.3rem;
    font-weight: 500;
    height:1.3rem;
    width:1.3rem;
    background-color:#5CAAFE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
    background-color:#3A3B3C;
}

.sidebar.close header .toggle {
    transform: rotate(180deg);
}

.sidebar.close .sidebar header .toggle {
    transform: rotate(180deg);
    color: var(--text-color);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar li {
    height:3.1rem;
    margin-top:0.6rem;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-self: center;
    min-width:5.7rem;
    font-size:1.3rem;
}

.sidebar li .icon,
.sidebar li .text {
    color: #f5f5f5;
    transition: var(--tran-03);
}

.sidebar li a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: var(--tran-02);
}

.sidebar .search-box {
    /*background-color: var(--primary-color-light);*/
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

body.dark .sidebar .search-box {
    /*background-color: #3A3B3C;*/
    background-color: rgba(0, 0, 0, 0.3);
}

body.dark .search-box input {
    /*background-color: #3A3B3C;*/
    background-color: rgba(0, 0, 0, 0.1);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    color: white;
    /*background-color: var(--primary-color-light);*/
    background-color: rgba(0, 0, 0, 0.1);
    font-size:1rem;
}

.sidebar li a:hover {
    /*background-color: var(--primary-color);*/
    background-color: rgba(0, 0, 0, 0.4);
    border-radius:0.3rem;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 3.1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.dark .menu-bar .mode {
    /*background-color: #3A3B3C;*/
    background-color: rgba(0, 0, 0, 0.3);
}

.menu-bar .mode {
    border-radius:0.3rem;
    position: relative;
    /*background-color: var(--primary-color-light);*/
    background-color: rgba(0, 0, 0, 0.3);
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-02);
}

.menu-bar .mode .moon-sun {
    height:3.1rem;
    width:5.7rem;
    display: flex;
    align-items: center;
}

.menu-bar .mode i.moon {
    opacity: 0;
}

body.dark .menu-bar .mode i.moon {
    opacity: 1;
}

body.dark .menu-bar .mode i.sun {
    opacity: 0;
}

.sidebar.close .menu-bar .mode i.moon,
.sidebar.close .menu-bar .mode i.sun {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width:3.7rem;
    cursor: pointer;
    right:0.1rem;
}

.toggle-switch .switch {
    cursor: pointer;
    height:1.3rem;
    width:2.7rem;
    /*background-color: var(--toggle-color);*/
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:1.5rem;
    margin-left:0.5rem;
}

.switch::before {
    content: "";
    position: absolute;
    height:0.9rem;
    width:0.9rem;
    background-color: var(--sidebar-color);
    border-radius: 50%;
    cursor: pointer;
    right:1.7rem;
    bottom:1.1rem;
    transition: var(--tran-03);
}

body.dark .switch::before {
    right:0.4rem;
    background-color: rgb(73, 70, 70);
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1),
        inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

.W {
    margin-left:2.1rem;
}

.V {
    margin-left:1.3rem;
}

.P {
    padding-left:1.25rem;
}

.home {
    position: relative;
    left:15.6rem;
    height: 100vh;
    width: calc(100% - 15.6rem);
    background-color: #fff;
    transition: var(--tran-05);
}

body.dark .home {
    background-color: #18191A;
}

.sidebar.close~.home {
    left: 6rem;
    width: calc(100% - 6rem);
}

.home .text {
    color: var(--text-color);
    padding:0.5rem 2.5rem;
}

.home .text header {
    width: 80%;
    height: 95vh;
    margin: auto;
}

.earth {
    position: absolute;
    top: 0;
    bottom:33.6rem;
    left: 0;
    right:57.8rem;
    margin: auto;
    width:9rem;
    height:9rem;
    background-image: url('https://w0.peakpx.com/wallpaper/394/548/HD-wallpaper-earth-map-ecology-world-map-earth-world-map-concept-creative-world-maps-art-ecology-concept-world-map.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 20s linear alternate infinite;
    transition: .3s linear;
}

@keyframes spin {
    100% {
        background-position: 100%;
    }
}

.home .text header nav {
    width: 95%;
    height: 23%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .text header nav ul {
    list-style: none;
    display: flex;
}

.home .text header nav ul li {
    padding: 0.1rem 0.9rem;
}

.home .text header nav ul li a {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size:1.8rem;
    transition: var(--tran-03);
}
.home .text header nav ul li a::after{
    content: "";
    display: block;
    height: 4px;
    width:100%;
    background-color: grey;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}
.home .text header nav ul li a:hover::after{
    transform: scaleX(1);
}

body.dark .earth {
    box-shadow: -20px -20px 50px 2px #f5f5f5 inset, 0 0 20px 2px #f5f5f5;
}

.home .text header nav ul li a:hover {
    color: aqua;
    font-weight: bold;
}

.home .text header nav ul li:nth-last-child(1) {
    background-color: var(--text-color);
    border-radius:18rem;
    margin-left:0.5rem;
    margin-right: 0.2rem;
}

.home .text header nav ul li:nth-last-child(1) a {
    color: var(--body-color);
    padding:-0.5rem;
}

.home .text header nav .bi-three-dots {
    display: none;
}

.home .text header .content {
    position: relative;
    width: 100%;
    height: 77%;

}

.home .text header .content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 85%;
    background-image: url('https://wallpapercave.com/wp/IV3GJZ6.jpg');
    background-position: center;
    background-size: cover;
    border-radius:0.6rem;
    transition: var(--tran-04);
}

body.dark .home .text header .content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 85%;
    background-image: url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701335922.jpg');
    background-position: center;
    background-size: cover;
    border-radius:0.6rem;
    transition: var(--tran-03);
}

.home .text header .content .cont_bx {
    position: absolute;
    z-index: 2;
    color: white;
}

.home .text header .content .cont_bx {
    width:31.2rem;
    height: auto;
    padding:1.8rem;
}

.home .text header .content .cont_bx h1 {
    line-height:2.5rem;
    font-weight: 800;
    font-size:2.5rem;
    margin: 0;
}

.home .text header .content .cont_bx p {
    font-size:1.2rem;
    font-weight: 400;
    color: rgb(241, 241, 241);
    padding:1.5rem 0;
}

.home .text header .content .cont_bx button {
    margin-top:1.5rem;
    padding: 0.6rem 1.25rem;
    font-weight: 500;
    border-radius:1.25rem;
    border: 2px solid black;
    background-color: black;
    color: white;
    outline: none;
    cursor: pointer;
    transition: .3s linear;
    font-size:1.1rem;
}

body.dark .home .text header .content .cont_bx button {
    background-color: white;
    color: black;
    border: 2px solid white;
}

body.dark .home .text header .content .cont_bx button:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.home .text header .content .cont_bx button:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
}

.home .text header .content .trip_bx {
    position: relative;
    width: 95%;
    height: auto;
    margin: auto;
}

.home .text header .content .trip_bx .search_bx {
    position: absolute;
    top: 18rem;
    left: 0;
    width: 60%;
    height:3.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:0.3rem;
    box-shadow: 0px 10px 25px rgb(113, 113, 113);
    z-index: 2;
    padding:0.3rem 1.2rem;
}

.home .text header .content .trip_bx .search_bx .card {
    width:12.5rem;
    height: 100%;
}

body.dark .home .text header .content .trip_bx .search_bx .card h4 {
    color: black;
}

.home .text header .content .trip_bx .search_bx .card h4 {
    font-size:1rem;
    font-weight: 500;
    margin: 0;
    padding: 0 0.3rem;
}

.home .text header .content .trip_bx .search_bx .card h4 .bi-caret-down-fill {
    position: absolute;
    font-size: 1rem;
    margin: 0rem 0rem 0.3rem 0.6rem;
    transition: .3s linear;
}

.home .text header .content .trip_bx .search_bx .card input {
    margin-top:0.1rem;
    padding:0.3rem 0.4rem;
    border: none;
    outline: none;
    font-size:0.8rem;
}

.home .text header .content .trip_bx .search_bx input[type="button"] {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    padding:0.6rem 1.2rem;
    font-size:0.9rem;
    border-radius:1.2rem;
    cursor: pointer;
    transition: .3s linear;
    margin: 0 0.3rem;
    position: relative;
    z-index: 1;
}

.home .text header .content .trip_bx .search_bx input[type="button"]:hover {
    background-color: white;
    color: black;
}

.home .text header .content .trip_bx .travel_bx {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    top: 19.7rem;
    border-radius:0.6rem;
    padding-bottom:1.2rem;
    box-shadow: 0rem 1.2rem 1.5rem -0.6rem rgb(165, 165, 165);
    z-index: 0;
}

.home .text header .content .trip_bx .travel_bx::before {
    content: '';
    position: absolute;
    width: 100%;
    height:17rem;
    border-radius:0.6rem;
    background-color: rgb(241, 241, 241, .7);
    backdrop-filter: blur(0.3rem);
    z-index: 1;
}

.home .text header .content .trip_bx .travel_bx h4 {
    position: absolute;
    margin: 0;
    padding: 60px 0px 15px 2.5%;
    z-index: 99999;
    top: -1rem;
    font-size:1.5rem;
    letter-spacing:0rem;
}

body.dark .home .text header .content .trip_bx .travel_bx h4 {
    color: black;
}

.home .text header .content .trip_bx .travel_bx .cards {
    position: absolute;
    width: 95%;
    height: auto;
    margin: auto;
    top:5.1rem;
    z-index: 99999;
    left:1.6rem;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    overflow-x: auto;
    white-space: nowrap;

}

.home .text header .content .trip_bx .travel_bx .cards .card {
    width:13.7rem;
    height:11.2rem;
    margin-right:1.5rem;
}

.home .text header .content .trip_bx .travel_bx .cards .card h3 {
    margin: 0rem 0rem 0.6rem 0rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight:31.2rem;
    margin-left:0.2rem;
}

body.dark .home .text header .content .trip_bx .travel_bx .cards .card h3 {
    color: black;
}

.home .text header .content .trip_bx .travel_bx .cards .card h3 img {
    width:1.3rem;
    height:1.25rem;
    margin-left:0.6rem;
    margin-top:0.1rem;
}

.home .text header .content .trip_bx .travel_bx .cards .card img {
    width: 100%;
    height: 58%;
    border-radius:0.1rem;
}

.home .text header .content .trip_bx .travel_bx .cards .card .btn_city {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .text header .content .trip_bx .travel_bx .cards .card .btn_city a {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius:1.2rem;
    padding:0.3rem 1.2rem;
    font-size:0.8rem;
    transition: .3s linear;
    margin-left:0.1rem;
    /*margin-bottom: 10px;*/
    margin-bottom:0.6rem;
}

.home .text header .content .trip_bx .travel_bx .cards .card .btn_city a:hover {
    background: linear-gradient(lightblue, aliceblue);
    color: black;
    font-size:1rem;
}

.home .text header .content .trip_bx .travel_bx .cards .card .btn_city h5 {
    font-size:0.9rem;
    font-weight: 500;
    letter-spacing: 0rem;
    line-height:0.9rem;
    margin-right:0.3rem;
    /*margin-top:10px;*/
    margin-top:0.1rem;
}

body.dark .home .text header .content .trip_bx .travel_bx .cards .card .btn_city h5 {
    color: black;
}

.home .text header .content .trip_bx .travel_bx .cards .card .btn_city h5 span {
    font-weight: 600;
    font-size:0.9rem;
}

.home .text .offers {
    width: 75%;
    height: auto;

    margin: auto;
    margin-top:8.7rem;
}

.home .text .offers h1 {
    font-weight: 600;
    text-align: center;
    margin: 0;
    font-size:2.5rem;
}

.home .text .offers p {
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size:1.6rem;
}

.home .text .offers .cards {
    margin-top:1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-wrap: wrap;
}

.home .text .offers .cards .card {
    position: relative;
    width:14.1rem;
    height:17.6rem;
   
    margin-top:0.7rem;
}

.home .text .offers .cards .card h3 {
    width:9.3rem;
    padding:0.3rem 0;
    background: linear-gradient(tomato, yellow);
    border-radius:1.2rem;
    font-size:1.3rem;
    display: grid;
    place-items: center;
    margin: auto;
}

.home .text .offers .cards .card .img_txt img {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0.5rem;
    border-radius:0.2rem;
    cursor: pointer;
}

.home .text .offers .cards .card .btn_city2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .text .offers .cards .card .btn_city2 a {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius:1.2rem;
    padding: 0.3rem 1.2rem;
    font-size:0.9rem;
    transition: .3s linear;
    margin-left:0.1rem;
    /*margin-bottom: 10px;*/
    margin-bottom:0.6rem;
}

body.dark .home .text .offers .cards .card .btn_city2 a {
    background-color: white;
    color: black;
}

.home .text .offers .cards .card .btn_city2 a:hover {
    background: goldenrod;
    color: white;
    font-size:1.1rem;
}

body.dark .home .text .offers .cards .card .btn_city2 a:hover {
    background-color: goldenrod;
    color: white;
}

.home .text .offers .cards .card .btn_city2 h5 {
    display: flex;
    flex-direction: column;
    font-size:1rem;
    font-weight: 500;
    line-height:0.9rem;
    margin-right:0.3rem;
    /*margin-top:10px;*/
}

.home .text .offers .cards .card .btn_city2 h5 span {
    font-weight: 600;
    font-size:0.9rem;
    margin-top:0.3rem;
}

#clickImage {
    position: relative;
    z-index: 1;
}

#clickImage2 {
    position: relative;
    z-index: 1;
}

#clickImage3 {
    position: relative;
    z-index: 1;
}

#clickImage4 {
    position: relative;
    z-index: 1;
}

.iframe-container {
    position: relative;
    width:31.2rem;
    height:21.8rem;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.iframe-container.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.home .text .map{
    width: 75%;
    height: auto;
    margin: auto;
    margin-top:6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home .text .map h1{
    font-weight: 600;
    font-size:2.8rem;
}
.home .text .map iframe{
    width:92%;
    border-radius:1.2rem;
}
body.dark .home .text .map iframe{
    width:92%;
    border-radius:0.2rem;
    filter: invert(100%);
}
.home .text .offers2{
    width:75%;
    height:auto;
    margin:auto;
    margin-top:6.2rem;
}
.home .text .offers2 h1{
    font-weight: 600;
    font-size:2.6rem;
    text-align: center;
    margin: 0;
}
.home .text .offers2 p{
    font-weight:500;
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
}
.home .text .offers2 .cards{
    margin-top:1.25rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}
.home .text .offers2 .cards .card{
    position: relative;
    width:12.8rem;
    height:21.8rem;
    margin-top:0.7rem;
}
.home .text .offers2 .cards .card h3{
    width:8.7rem;
    padding:0.3rem 0rem;
    background: linear-gradient(green,lightgreen);
    border-radius:1.25rem;
    font-size:1.1rem;
    display: grid;
    place-items: center;
    font-weight: 500;
    margin: auto;
}
.home .text .offers2 .cards .card .txt_img{
    position:relative;
    width:100%;
    height:15.6rem;
    margin-top:0.3rem;
}
.home .text .offers2 .cards .card .txt_img img{
    position:relative;
    width:100%;
    height:100%;
    border-radius:0.6rem 0.6rem 0rem 0rem;
}
.home .text .offers2 .cards .card .txt_img h4{
    position: absolute;
    font-size:0.9rem;
    padding:0.5rem 0.8rem;
    font-weight:500;
    bottom:0;
    margin:0;
    color: white;
    z-index: 2;
}
.home .text .offers2 .cards .card .txt_img h4::before{
    position: absolute;
    content: '';
    width:100%;
    height: 90%;
    background:rgb(255,255,255,.1);
    backdrop-filter: blur(0.3rem);
    z-index: -1;
    left:0;
    bottom: 0;
}
.home .text .offers2 .cards .card .cont_bx{
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(179, 178, 178);
    padding:0.3rem 0rem;
    border-radius: 0px 0px 0.3rem 0.3rem;
}
.home .text .offers2 .cards .card .cont_bx .price, 
.home .text .offers2 .cards .card .cont_bx .days{
    margin: 0rem 0.6rem;
}
.home .text .offers2 .cards .card .cont_bx .price .heart_chat{
    display: flex;
    align-items: center;
}
.home .text .offers2 .cards .card .cont_bx .price .heart_chat i:nth-child(1){
    color:red;
    font-size: 0.9rem;
    margin-right:0.6rem;
}
.home .text .offers2 .cards .card .cont_bx .price .heart_chat i span{
    color:black;
    font-size: 0.9rem;
    font-style: normal;
    margin-left:0.5rem;
}
body.dark .home .text .offers2 .cards .card .cont_bx .price .heart_chat i span{
    color:white;
}
.home .text .offers2 .cards .card .cont_bx .price .heart_chat i:nth-child(2){
    color:lightblue;
    font-size:0.9rem;
    margin-right:0.6rem;
}
.home .text .offers2 .cards .card .cont_bx .price .heart_chat i span{
    color:black;
    font-size:0.9rem;
    font-style: normal;
    margin-left:0.2rem;
}
.home .text .offers2 .cards .card .cont_bx .price .info_price{
    display: flex;
    align-items: center;
    margin-top:0.3rem;
}
.home .text .offers2 .cards .card .cont_bx .price .info_price a{
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-size:0.8rem;
    transition: .3s linear;
    margin-right:0.9rem;
    font-weight: 500;
}
body.dark .home .text .offers2 .cards .card .cont_bx .price .info_price a{
    color:white;
}
.home .text .offers2 .cards .card .cont_bx .price .info_price a:hover{
    color:coral;
    font-size:1.1rem;
}
.home .text .offers2 .cards .card .cont_bx .price .info_price h4{
    margin:0;
    font-size:1rem;
}
.home .text .offers2 .cards .card .cont_bx .days{
    background-color: black;
    color:white;
    font-size:0.6rem;
    border-radius: 50%;
    padding:0.6rem;
    text-align: center;
    cursor: pointer;
    transition: .3s linear;
    margin-right:0.6rem;
}
body.dark .home .text .offers2 .cards .card .cont_bx .days{
    background-color: white;
    color:black;
}
.home .text .offers2 .cards .card .cont_bx .days:hover{
    transform: rotate(360deg);
    font-size:0.8rem;
}
body.dark .home .text .offers2 .cards .card .cont_bx .price .info_price a:hover{
    color:coral;
    font-size:1.1rem;
}
.home .text .destination{
    width:45%;
    height:auto;
    margin:auto;
    margin-top:5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .text .destination .des_bx , .img_bx{
    position: relative;
    width:50%;
    height:auto;
}
.home .text .destination h4{
    margin: 0;
    font-size:1.8rem;
    color:black;
    line-height:0.6rem;
    letter-spacing: 1px;
}
body.dark .home .text .destination h4{
    color:white;
}
.home .text .destination p{
    font-size: 1.1rem;
    margin:0.7rem 0rem;
}
.home .text .destination li{
    list-style: none;
    padding:0rem 0rem 0.5rem 0rem;
    font-size:1rem;
    font-weight: 500;
    transition:var(--tran-03);
    cursor: pointer;
    color:gray;
}
.home .text .destination li:hover{
    color:blueviolet;
    font-size:1.3rem;
    transition:var(--tran-03);
}
.home .text .destination h6{
    width:15.6rem;
    font-size:0.8rem;
    font-weight: 500;
    margin:1.2rem 0rem;
}
.home .text .destination .I{
    font-size:1.2rem;
    font-weight:bold;
    color:skyblue;
}
.home .text .destination button{
    font-size:1rem;
    padding:0.5rem 0.9rem;
    border-radius:1.2rem;
    background:linear-gradient(aliceblue,lightblue);
    color:black;
    border: 2px solid lightblue;
    transition: .3s linear;
    cursor: pointer;
}
.home .text .destination button:hover{
    background:rgb(242, 134, 91);
    color: black;
    border: 2px solid lightsalmon;
    font-size:1.1rem;
}
.home .text .destination .img_bx img{
    width:100%;
    height:25rem;
    border-radius:0.3rem;
}
.home .text .destination .img_bx .msg{
    position: absolute;
    top:81%;
    left:-16%;
    width:11.1rem;
    height:3.1rem;
    background-color: white;
    box-shadow: 0rem 0.3rem 1.2rem gray;
    display: flex;
    align-items:center;
    padding:0rem 0.6rem;
    border-radius:0.3rem;
}
.home .text .destination .img_bx .msg img{
    width:2.8rem;
    height:90%;
}
.home .text .destination .img_bx .cont{
    margin-left:0.7rem;
}
.home .text .destination .img_bx .cont h4{
    margin:0;
    font-size:1rem;
    font-weight: 500;
}
.home .text .destination .img_bx .cont .bxs-heart{
    color:red;
    margin-right:0.3rem;
    font-size:0.8rem;
}
.home .text .destination .img_bx .cont .bxs-heart span{
    font-style: normal;
    color:gray;
    margin-left:0.1rem;
}
.home .text .destination .img_bx .cont .bi-chat-fill{
    color: lightblue;
    margin-right:0.3rem;
    font-size: 0.8rem;
}
.home .text .destination .img_bx .cont .bi-chat-fill span{
    font-style: normal;
    color: gray;
    margin-left:0.1rem;
}
.home .text .destination .img_bx .msg:nth-child(2){
    top:10%;
    left:55%;
}
footer{
    position: relative;
    width:100%;
    height:auto;
    margin-top:1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:4.3rem;
    z-index: 0;
}
footer h2{
    text-align: center;
    font-weight:600;
    margin: 0;
    margin-top:1.5rem;
    line-height:1.8rem;
    font-size:2rem;
}
footer p{
    text-align: center;
    width:25rem;
    font-size:1.2rem;
    margin-top:0.1rem;
}
footer .V{
    margin-left:0;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:2.5rem;
    text-shadow: 2px 3px 2px gray;
    cursor: pointer;
    color:aliceblue;
    transition: .3s linear;
    margin-top:0.1rem;
}
footer .V:hover{
    font-size:2.7rem;
}
footer .accept .W{
    margin-left:8.3rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top:0.3rem;
}
footer .input{
    box-shadow: 0px 3px 20px -1px gray;
    border-radius:1.2rem;
    margin-top:0.3rem;
}
footer .input input{
    padding:0.7rem 1.7rem;
    font-size:0.9rem;
    border: none;
    outline:none;
    border-radius: 0rem 1.25rem 1.25rem 0rem;
    width:18.7rem;
}
footer .input button{
    padding:0.6rem 1.2rem;
    border: none;
    outline:none;
    font-size:0.9rem;
    border-radius: 0rem 1.2rem 1.2rem 0rem;
    background: black;
    color:white;
    cursor: pointer;
    transition: .3s linear;
}
footer .input button:hover{
    background-color: gray;
    color:black;
}
footer ul{
    list-style: none;
    display: flex;
    margin-top:1.8rem;
}
footer ul li{
    text-align: center;
    margin-right:1.8rem;
    font-weight: bold;
}
footer ul li h6{
    font-size: 0.9rem;
    font-weight:599;
    max-width:7.5rem;
    margin:0;
    line-height:0.6rem;
    border-top:1px solid black;
    padding-top:0.2rem;
}
footer .accept ul li img{
    height:44px;
    width:48px;
    transition:.2s ease;
}
footer .accept ul li img:hover{
    height:50px;
    width:54px;
}
footer ul li img{
    height:34px;
    width:34px;
    cursor: pointer;
    transition: .3s linear;
}
footer ul li img:hover{
    height:40px;
    width:40px;
}
footer::before{
    content: "";
    position: absolute;
    top:0;
    width:100%;
    height:100vh;
    background-image: url('https://etimg.etb2bimg.com/photo/93513128.cms');
    height: 100vh;
    background-position: center;
    background-size:cover;
    z-index: -1;
    opacity: 0.8;
    background-repeat: no-repeat;
}
@keyframes jumpAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    25%,
    75% {
        transform: translateY(-30px);
    }
}

.jump {
    animation: jumpAnimation 0.5s;
}
footer .G img{
    height: 36px;
    width: 66px;
    margin-top:40px;
    margin-left: -36px;
    cursor: pointer;
    transition: .2s linear;
}
footer .G img:hover{
    height:40px;
    width:70px;
}
footer .G{
    color:white;
    font-size: 30px;
}